<div class="emojis" [hidden]="!showEmojis" [attr.aria-hidden]="!showEmojis">
  <div class="emoji-list positive" *ngIf="result.tone === 'positive'">
    <span class="emoji" *ngFor="let emoji of emojiList.positive; let i = index;" (click)="onClick('positive', i)">
      {{emoji}}
    </span>
  </div>
  <div class="emoji-list neutral" *ngIf="result.tone === 'neutral'">
    <span class="emoji" *ngFor="let emoji of emojiList.neutral; let j = index;" (click)="onClick('neutral', j)">
      {{emoji}}
    </span>
  </div>
  <div class="emoji-list negative" *ngIf="result.tone === 'negative'">
    <span class="emoji" *ngFor="let emoji of emojiList.negative; let k = index;" (click)="onClick('negative', k)">
      {{emoji}}
    </span>
  </div>
</div>